@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins, sans-serif";
}

:root {
  --btn-color: #3787ff;
}

.hero {
  background-color: #f5f7fa;
}

.footer {
  background-color: #263238 !important;
}

.icon-f {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 100px;
}

.newsletter {
  background-color: rgba(255, 255, 255, 0.116) !important;
}

.newsletter::placeholder {
  color: white !important;
}

.hero-3 {
  margin-top: 120px;
}

.inscription {
  background-color: var(--btn-color) !important;
}

.span {
  color: var(--btn-color);
}

.annonces {
  background-color: #f5f7fa !important;
  width: 290px;
  margin-top: -85px;
  margin-left: 33px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
